[SddmGreeterTheme]
Name=Quickshell Glass
Description=Wallpaper-synced glass theme matching the Quickshell rice
Author=Frank1o3
Copyright=none
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Font=SpaceMono Nerd Font
QtVersion=6